body {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
}

#map {
    height: 100%;
    width: 80%;
}


.yes {
    color: #0f0;
}

.no {
    color: #f00;
}

#results {
    box-sizing: border-box;
    padding: 1em;
    color: #eee;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 20%;
    height: 100%;
    background-color: #777;
}
